/* #region-通用-start */
/* 版心 */
.container {
    width: 1190px;
    margin: 0 auto;
}
.clearfix {
    overflow: hidden;
}
.leftfix {
    float: left;
}
.rightfix {
    float: right;
}
/* #endregion-通用-end */

/* #region-头部-start */
.top {
    background-color: #105fa5;
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
}
.bgi {
    width: 1190px;
    margin: 0 auto;
    position: absolute;
    top: -220px;
    opacity: 0.08;
}
.container-header {
    margin: 0 auto;
    text-align: center;
    padding-top: 15vh;
}
.container-header .img {
    display: block;
    margin: 0 auto;
}
.container-header .dot {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 40px;
    height: 2px;
    background-color: #8db1d1;
}
.container-header .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
/* #endregion-头部-end */


/* #region-主体-start */
.form-box {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.form-box-top {
  /* background-color: orange; */
  width: 400px;
  position: relative;
}

.form-box .form-box-top div {
  color: #105fa5;
  font-weight: bold;
  font-size: 20px;
}

.form-box .form-box-top .trans {
  color: gray;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  top: 10px;
  left: 230px;
}

.form-box .form-box-top .trans:hover {
  color: #105fa5;
}

.form input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px #105fa5 solid;
}

.input-box {
  position: relative;
  width: 86%;
  margin: 10px auto;
}

.input-box .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #105fa5;
  font-size: 16px;
  z-index: 2;
}

.input-box input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  padding-left: 35px;
  font-size: 16px;
  border: 1px solid #105fa5;
  box-sizing: border-box;
}

form button {
  background-color: #105fa5;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 170px;
  height: 30px;
  line-height: 30px;
}

.no {
  background-color: #a9a9a9;
  cursor: pointer;
}

.yes:hover {
  background-color: #061868;
}

.no:hover {
  background-color: #061868;
}

.form {
  display: none;
}

.form-box .active {
  display: block;
}
/* #endregion-主体-end */